* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif; }

a {
  text-decoration: none;
  color: white; }

button a:hover {
  color: white !important; }

li {
  list-style-type: none; }

.navbar-brand {
  color: #d0c59f !important; }

#asistencia {
  border-color: white;
  color: white; }

#asistencia:hover {
  background-color: #d0c59f; }
  #asistencia:hover a:hover {
    color: white; }

#navbarSupportedContent,
.navbar-brand {
  font-size: 3vh;
  padding-left: 2vh; }

#navbarSupportedContent {
  width: auto; }

.principal {
  width: 100%;
  background-size: cover;
  background: URL("../images/vonharv.jpg") no-repeat;
  padding-top: 4rem; }

.principal .informacion-evento {
  margin-bottom: 4vw;
  width: 30%;
  backdrop-filter: blur(0.4rem);
  padding: 1.5rem;
  border: 2px solid #d0c59f;
  color: white; }
  .principal .informacion-evento button {
    margin: 1rem 1rem 1rem 0; }

#evento {
  width: 100%;
  background-color: #313133;
  color: white;
  padding: 1.5rem; }

#data-texto {
  padding: 1.5rem;
  text-align: center; }
  #data-texto h3 {
    color: #d0c59f;
    font-size: 2rem; }
  #data-texto p {
    font-size: 1.5rem; }

#video {
  padding-top: 2rem;
  text-align: center; }
  #video iframe {
    width: 100%;
    height: 29rem; }

#countdown {
  text-align: center;
  width: 100%;
  height: 40rem;
  background: URL("../images/vonharv3.jpg") no-repeat; }
  #countdown span {
    color: white;
    padding-top: 3em; }
  #countdown #demo {
    text-align: center;
    font-size: 3em;
    color: white !important;
    justify-content: center;
    padding-top: 6rem; }
    #countdown #demo h3 {
      color: white !important; }

#ubicacion {
  background-color: #e6e7e8;
  font-size: 1.5rem; }
  #ubicacion h3 {
    font-size: 2rem;
    color: #d0c59f; }
  #ubicacion iframe {
    width: 100%; }

footer {
  width: 100%;
  background-color: #313133;
  color: white;
  padding: 3rem; }
  footer p {
    font-size: 0.8rem; }
  footer img {
    width: 20%;
    height: 6rem;
    padding-top: 1rem; }

@media (min-width: 320px) and (max-width: 1600px) {
  .principal {
    padding-top: 4rem; }
    .principal .informacion-evento {
      width: 100% !important; }
  #evento,
  .evento {
    padding: 1rem; }
    #evento h3,
    .evento h3 {
      color: #d0c59f;
      font-size: 2rem;
      padding-bottom: 1rem; }
    #evento p,
    .evento p {
      font-size: 1.7rem; }
  #video {
    padding-top: 2rem;
    text-align: center; }
  #countdown {
    width: 100%;
    background: URL("../images/vonharv3.jpg") no-repeat;
    text-align: center; }
    #countdown #demo {
      text-align: center; }
      #countdown #demo h3 {
        color: white !important; }
  #ubicacion {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 320px) and (max-width: 1600px) {
  #countdown #demo {
    text-align: center;
    font-size: 7vh; }
  #evento p {
    font-size: 3vh; }
  footer p {
    width: 100em; } }
